h1 {
    justify-content: center;
}

table {
    margin: 0;
}

.block {
    align-content: center;
    justify-content: center;
    background: red;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
    width: 100px;
}