:root {
    /* colors */
    --bg-clr: #f0f0f0;
    --border-clr: #e6e6e6;
    --light-text-clr: #999;
    --red: #e6563b;
    --orange: #eb9d3a;
    --green: #7cb06c;
    --turq: #00aba9;
    --dark-font-clr: #222529;
    --abel: "Abel", sans-serif;
    --anton: "Anton", sans-serif;
}

h1 {
    font-family: var(--anton);
    font-size: 2.5rem;
    color: var(--dark-font-clr);
    text-align: center;
    margin: 0;
    padding: 0;
}

.green-circle {
    background-color: var(--green);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    font-size: 1em;
}

.mole {
    height: 125px;
    width: 125px;
}


#circles {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 4rem;
}

#circles div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--anton);
    border: 0.5em white solid;
    border-radius: 50%;
    margin: 0 1rem 0 0;
}