:root {
    /* colors */
    --bg-clr: #f0f0f0;
    --border-clr: #e6e6e6;
    --light-text-clr: #999;
    --red: #e6563b;
    --orange: #eb9d3a;
    --green: #7cb06c;
    --turq: #00aba9;
    --dark-font-clr: #222529;
    --abel: "Abel", sans-serif;
    --anton: "Anton", sans-serif;
}

h1 {
    font-family: var(--anton);
    font-size: 2.5rem;
    color: var(--dark-font-clr);
    text-align: center;
    margin: 0;
    padding: 0;
}

.green-circle {
    background-color: var(--green);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-size: 1em;
}
